#listing>div {
    margin-bottom: 20px;
}

#listing>p {
    margin: 0;
}

#listing img {
    display: block;
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.item p {
    font-weight: bold;
}

.hidden {
    display: none;
}

#controls {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 200px;
    height: 400px;
    border: 1px black solid;
    padding: 5px;
}

#listing>#template2 {
    display: none;
}

